/* General --------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Times, serif;
    font-size: 18px;
    background-color: #282828;
}

.contenedor {
    max-width: 1080px;
    margin: 0 auto;
    border: 1px solid red;
    background-color: white;
}

a {
    color: #4285f4;
}

a:hover {
    color: brown;
}

.descripcion {
    /*El tipo de letra de las descripciones de todas las areas*/
    font-family: "Lato", sans-serif;
}

.separador {
    width: 25px;
    border-bottom: 4px solid black;
}

/*HEADER -----------------------------------------------------*/

header {
    max-width: 1080px;
    display: flex;
    gap: 30px;
    margin-top: 100px;
}

#datos {
    margin-left: 80px;
    width: 15%;
}

h1 {
    font-weight: bold;
    font-size: 42px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #4285f4;
}

#contacto {
    color: #4285f4;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 65%;
}

#web {
    padding: 15px 0px;
}

#telefono {
    margin: 20px 0px 10px 0px;
}

/*MAIN -----------------------------------------------------*/
