/* General --------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Times, serif;
    font-size: 18px;
    background-color: #282828;
}

.test {
    /* para ver como se coloca cada caja, luego elimino la clase */
    outline: dotted 1px red;
}

.contenedor {
    max-width: 1080px;
    min-width: 1080px;
    margin: 0 auto;

    background-color: white;
}

a {
    color: #4285f4;
}

a:hover {
    color: brown;
}

.descripcion {
    /*El tipo de letra de las descripciones de todas las areas*/
    font-family: "Lato", sans-serif;
    color: #7b7b7b;
}

.separador {
    width: 25px;
    border-bottom: 4px solid black;
    position: absolute;
    bottom: 0;
}

/*HEADER -----------------------------------------------------*/

header {
    max-width: 1080px;
    display: flex;
    gap: 30px;
    padding-top: 100px;
}

#datos {
    margin-left: 80px;
    width: 15%;
}

h1 {
    font-weight: bold;
    font-size: 2.25em;
}

h2 {
    font-weight: bold;
    font-size: 1.75em;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
}

h4 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}

#contacto {
    color: #4285f4;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 65%;
}

#web {
    padding: 15px 0px;
}

#telefono {
    margin: 20px 0px 10px 0px;
}

/*MAIN -----------------------------------------------------*/

.apartados {
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 100px;
}

.apartados .conjunto {
    width: 79%;
    border-bottom: 4px solid black;
    padding-bottom: 30px;
    line-height: 23px;
}

.conjunto article {
    margin-bottom: 25px;
}

.puntoSeparador {
    padding-left: 15px;
    padding-right: 15px;
}
.titulos {
    width: 21%;
    position: relative;
}

.barraSeparadora {
    padding-left: 10px;
    padding-right: 10px;
}

.textoDescripcion {
    padding-top: 10px;
}

.azul {
    color: #4285f4;
}

.negrita {
    font-weight: bold;
    color: #515151;
}

.lenguajes {
    text-decoration: underline;
}

.duracion {
    padding: 5px 0px;
}

.empresa {
    font-size: 1.1em;
}

#sinBorde {
    /* Para que no aparezca la linea divisoria en el ultimo apartado */
    border-bottom: none;
}

#sinBorde article {
    padding-bottom: 20px;
}

/*FOOTER -----------------------------------------------------*/

footer {
    width: 90%;
    padding: 80px 0px;
}

footer p {
    font-size: 0.8em;
    text-align: right;
    line-height: 20px;
}

footer div {
    font-size: 0.8em;
    text-align: right;
    line-height: 20px;
}

footer div a {
    text-decoration: none;
    color: black;
}
